<%packages = []%>
<%$redis.keys("#{params[:category]}/*").each { |key| packages << key.split(/-\d/)[0] }%>
<%packages.uniq.sort.each do |package|%>
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title"><%=package%></h3>
    </div>
    <%metadata_hash = JSON.parse($redis.get($redis.keys("#{package}-*").sort.last))%>
    <%=metadata_hash['description']%>
    <table class="table table-bordered table-condensed">
      <th></th>
      <th>amd64</th>
      <th>arm</th>
      <th>ia64</th>
      <th>sparc</th>
      <th>x86</th>
      <%$redis.keys("#{package}-*").sort.each do |version|%>
        <%version_hash = JSON.parse($redis.get(version))%>
        <tr>
          <td><%=version_hash['version']%></td>
          <td width="10%" <%=format_keywords('amd64', version_hash['keywords'])%></td>
          <td width="10%" <%=format_keywords('arm', version_hash['keywords'])%></td>
          <td width="10%" <%=format_keywords('ia64', version_hash['keywords'])%></td>
          <td width="10%" <%=format_keywords('sparc', version_hash['keywords'])%></td>
          <td width="10%" <%=format_keywords('x86', version_hash['keywords'])%></td>
        </tr>
      <%end%>
    </table>
    <table class="table table-bordered table-condensed">
      <tr>
        <td><a href="<%=metadata_hash['homepage']%>">Homepage</a></td>
        <td><a href="http://sources.gentoo.org/cgi-bin/viewvc.cgi/gentoo-x86/<%="#{metadata_hash['category']}/#{metadata_hash['packagename']}"%>/ChangeLog">Changelog</a></td>
        <td><%=metadata_hash['license']%></td>
      </tr>
    </table>
  </div>
<%end%>
